
html {
  overflow-y: scroll;
}

html, body{
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: small;

	background-image:url('/images/green-banner.jpg');

  background-repeat:repeat-x;
  height: 100%; 

}
#site-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    width: 90%;
    max-width: 1250px;
    min-width: 1000px;

    border: none;  

  }


/*    BANNER AND TOP MENU STUFF */
/* note that the green background color is actually a background color */


#banner {
  position: relative;
  padding-top: 15px;
  
  height: 148px;
  width: 100%;

  font: menu;
  clear: right;
 }


#banner-menu-ideas, #banner-menu-projects, #banner-menu-jobs, #banner-menu-people {
  position:relative;
  float: left;

  width: 100%;
  height: 100%;
  
  border-left: 1px solid #FFFFFF;
  letter-spacing:0px;
  
}

#menu-filler {
    background-color: #A0C943;
}
#menu-filler-highlight {
    background-color: #4f391a;
}

#banner-menu-ideas {
  background: #4f391a; 
  background:url(/images/menu_icons/ideas_icon_lg.png) center center no-repeat; 
}
#banner-menu-projects {
  background: #4f391a; 
  background:url(/images/menu_icons/projects_icon_lg.png) center center no-repeat; 
}
#banner-menu-jobs {
  background: #4f391a; 
  background:url(/images/menu_icons/jobs_icon_lg.png) center center no-repeat; 
}

#banner-menu-people {
  border-right: 1px solid #FFFFFF;
  background: #4f391a; 
  background:url(/images/menu_icons/people_icon_lg.png) center center no-repeat; 
}

#banner-logo {
  padding-top: 15px;
  text-align: right;
  float:left;
  height: 100%;
  padding-right: 15px;

}

#banner-search {
  position:relative;
  height: 100%;
  width: 100%;

  padding-top: 15px;
  padding-left: 15px;

  float: right;
  overflow: hidden;
  clear:right;

  letter-spacing:0.5px;
  color: #FFFFFF;

  text-align: right;

}


p.banner {
  margin: 7px;
}
a.menu-ideas, a.menu-projects, a.menu-jobs, a.menu-people, a.menu-new, a.menu-my, a.menu-watchlist, a.menu-invite, #menu-filler { 
  display:block;
	color: #FFFFFF;
	text-decoration: none;
  vertical-align: middle;
  padding-top: 7px;
  padding-left: 45px;
  height: 30px;

  /* for IE */
  filter:alpha(opacity=90);
  /* CSS3 standard */
  opacity:0.90;

}

a.menu-ideas-highlight, a.menu-projects-highlight, a.menu-jobs-highlight, a.menu-people-highlight, a.menu-new-highlight, a.menu-my-highlight, a.menu-watchlist-highlight, a.menu-invite-highlight, #menu-filler-highlight { 
  display:block;
	color: #FFFFFF;
	text-decoration: none;
  vertical-align: middle;
  padding-top: 7px;
  padding-left: 45px;
  height: 30px;

  /* for IE */
  filter:alpha(opacity=80);
  /* CSS3 standard */
  opacity:0.80;

}


a.banner:hover, a.menu-new:hover, a.menu-my:hover, a.menu-watchlist:hover, a.menu-invite:hover { 
  font-weight: bold;
  background-color: #4f391a;
  letter-spacing:0.0px;

  /* for IE */
  filter:alpha(opacity=80);
  /* CSS3 standard */
  opacity:0.80;


}

a.banner-highlight:hover, a.menu-new-highlight:hover, a.menu-my-highlight:hover, a.menu-watchlist-highlight:hover, a.menu-invite-highlight:hover { 
  font-weight: bold;
  background-color: #F4C430;
  color: #4f391a;
  letter-spacing:0.0px;
  /* for IE */
  filter:alpha(opacity=80);
  /* CSS3 standard */
  opacity:0.80;

}

a.menu-ideas {
  background:url(/images/menu_icons/ideas_menu_icon_brown.png) 0 0 no-repeat; 
  background-position: 10px center;
  background-color: #A0C943;
}

a.menu-ideas:hover {
  background:url(/images/menu_icons/ideas_menu_icon_green.png) 0 0 no-repeat; 
  background-color: #4f391a;
  background-position: 10px center;
  font-color: #FFFFFF;
  font-weight: bold;

  /* for IE */
  filter:alpha(opacity=80);
  /* CSS3 standard */
  opacity:0.80;

}

a.menu-ideas-highlight {
  background:url(/images/menu_icons/ideas_menu_icon_green.png) 0 0 no-repeat; 
  background-position: 10px center;
  background-color: #4f391a;
}

a.menu-ideas-highlight:hover {
  background:url(/images/menu_icons/ideas_menu_icon_brown.png) 0 0 no-repeat; 
  background-color: #F4C430;
  color: #4f391a;
  background-position: 10px center;
  font-color: #FFFFFF;
  font-weight: bold;

  /* for IE */
  filter:alpha(opacity=80);
  /* CSS3 standard */
  opacity:0.80;

}

a.menu-projects {
  background:url(/images/menu_icons/projects_menu_icon_brown.png) 0 0 no-repeat; 
  background-position: 10px center;
  background-color: #A0C943;

}
a.menu-projects:hover {
  background:url(/images/menu_icons/projects_menu_icon_green.png) 0 0 no-repeat; 
  background-color: #4f391a;
  background-position: 10px center;
  font-color: #FFFFFF;
  font-weight: bold;

  /* for IE */
  filter:alpha(opacity=80);
  /* CSS3 standard */
  opacity:0.80;

}

a.menu-projects-highlight {
  background:url(/images/menu_icons/projects_menu_icon_green.png) 0 0 no-repeat; 
  background-position: 10px center;
  background-color: #4f391a;

}
a.menu-projects-highlight:hover {
  background:url(/images/menu_icons/projects_menu_icon_brown.png) 0 0 no-repeat; 
  background-color: #F4C430;
  color: #4f391a;
  background-position: 10px center;
  font-color: #FFFFFF;
  font-weight: bold;

  /* for IE */
  filter:alpha(opacity=80);
  /* CSS3 standard */
  opacity:0.80;

}

a.menu-jobs {
  background:url(/images/menu_icons/jobs_menu_icon_brown.png) 0 0 no-repeat; 
  background-position: 10px center;
  background-color: #A0C943;

}
a.menu-jobs:hover {
  background:url(/images/menu_icons/jobs_menu_icon_green.png) 0 0 no-repeat; 
  background-color: #4f391a;
  background-position: 10px center;
  font-color: #FFFFFF;
  font-weight: bold;

  /* for IE */
  filter:alpha(opacity=80);
  /* CSS3 standard */
  opacity:0.80;
}


a.menu-jobs-highlight {
  background:url(/images/menu_icons/jobs_menu_icon_green.png) 0 0 no-repeat; 
  background-position: 10px center;
  background-color: #4f391a;

}
a.menu-jobs-highlight:hover {
  background:url(/images/menu_icons/jobs_menu_icon_brown.png) 0 0 no-repeat; 
  background-color: #F4C430;
  color: #4f391a;
  background-position: 10px center;
  font-color: #FFFFFF;
  font-weight: bold;

  /* for IE */
  filter:alpha(opacity=80);
  /* CSS3 standard */
  opacity:0.80;
}


a.menu-people {
  background:url(/images/menu_icons/people_menu_icon_brown.png) 0 0 no-repeat; 
  background-position: 10px center;
  background-color: #A0C943;

}
a.menu-people:hover {
  background:url(/images/menu_icons/people_menu_icon_green.png) 0 0 no-repeat; 
  background-color: #4f391a;
  background-position: 10px center;
  font-color: #FFFFFF;
  font-weight: bold;

  /* for IE */
  filter:alpha(opacity=80);
  /* CSS3 standard */
  opacity:0.80;
}

a.menu-people-highlight {
  background:url(/images/menu_icons/people_menu_icon_green.png) 0 0 no-repeat; 
  background-position: 10px center;
  background-color: #4f391a;

}
a.menu-people-highlight:hover {
  background:url(/images/menu_icons/people_menu_icon_brown.png) 0 0 no-repeat; 
  background-color: #F4C430;
  color: #4f391a;
  background-position: 10px center;
  font-color: #FFFFFF;
  font-weight: bold;

  /* for IE */
  filter:alpha(opacity=80);
  /* CSS3 standard */
  opacity:0.80;
}

a.menu-new {
  background:url(/images/submenu_icons/new_submenu_icon.png) 0 0 no-repeat; 
  background-position: 10px center;
  background-color: #A0C943;

}

a.menu-new-highlight {
  background:url(/images/submenu_icons/new_submenu_icon.png) 0 0 no-repeat; 
  background-position: 10px center;
  background-color: #4f391a;

}

a.menu-my {
  background:url(/images/submenu_icons/my_submenu_icon.png) 0 0 no-repeat; 
  background-position: 10px center;
  background-color: #A0C943;

}

a.menu-my-highlight {
  background:url(/images/submenu_icons/my_submenu_icon.png) 0 0 no-repeat; 
  background-position: 10px center;
  background-color: #4f391a;

}

a.menu-watchlist {
  background:url(/images/submenu_icons/watchlist_submenu_icon.png) 0 0 no-repeat; 
  background-position: 10px center;
  background-color: #A0C943;

}

a.menu-watchlist-highlight {
  background:url(/images/submenu_icons/watchlist_submenu_icon.png) 0 0 no-repeat; 
  background-position: 10px center;
  background-color: #4f391a;

}

a.banner-no-block { 
	color: #FFFFFF;
	text-decoration: none;
}

a.banner-no-block:hover { 
  color: #4f391a;
}


/* END OF BANNER */


/* left menu links */

a.action_menu_edit, a.action_menu_launch_project, a.action_menu_delete, a.action_menu_stop_watching, a.action_menu_start_watching, a.action_menu_show_interest, a.action_menu_end_interest, a.action_menu_new_job, a.action_menu_send_message { 
  display:block;
	color: #000000;
	text-decoration: none;
  vertical-align: middle;
  padding-right: 35px;
  line-height: 30px;
  text-align: right;

}

a.action_menu_edit{
  background:url(/images/other_icons/edit_icon_sm.png) 0 0 no-repeat; 
  background-position: 98% center;

}
a.action_menu_edit:hover{ 
  background:url(/images/other_icons/edit_icon_sm_brown.png) 0 0 no-repeat;
  background-position: 98% center;

  background-color: #F4C430;
  /* for IE */
  filter:alpha(opacity=80);
  /* CSS3 standard */
  opacity:0.80;

}

a.action_menu_launch_project{
  background:url(/images/other_icons/projects_icon_sm.png) 0 0 no-repeat; 
  background-position: 98% center;

}
a.action_menu_launch_project:hover{ 
  background:url(/images/other_icons/projects_icon_sm_brown.png) 0 0 no-repeat;
  background-position: 98% center;

  background-color: #F4C430;
  /* for IE */
  filter:alpha(opacity=80);
  /* CSS3 standard */
  opacity:0.80;
}

a.action_menu_delete{
  background:url(/images/other_icons/delete_icon.png) 0 0 no-repeat; 
  background-position: 98% center;

}
a.action_menu_delete:hover{ 
  background-color: #F4C430;
  /* for IE */
  filter:alpha(opacity=80);
  /* CSS3 standard */
  opacity:0.80;

}

a.action_menu_start_watching{
  background:url(/images/other_icons/watching_icon_sm.png) 0 0 no-repeat; 
  background-position: 98% center;

}
a.action_menu_start_watching:hover{ 
  background:url(/images/other_icons/watching_icon_sm_brown.png) 0 0 no-repeat;
  background-position: 98% center;

  background-color: #F4C430;
  /* for IE */
  filter:alpha(opacity=80);
  /* CSS3 standard */
  opacity:0.80;
}

a.action_menu_stop_watching{
  background:url(/images/other_icons/remove_from_watchlist_icon.png) 0 0 no-repeat; 
  background-position: 98% center;

}
a.action_menu_stop_watching:hover{ 
  background:url(/images/other_icons/remove_from_watchlist_icon_brown.png) 0 0 no-repeat;
  background-position: 98% center;

  background-color: #F4C430;
  /* for IE */
  filter:alpha(opacity=80);
  /* CSS3 standard */
  opacity:0.80;
}


a.action_menu_show_interest{
  background:url(/images/other_icons/interest_icon_sm.png) 0 0 no-repeat; 
  background-position: 98% center;

}
a.action_menu_show_interest:hover{ 
  background:url(/images/other_icons/interest_icon_sm_brown.png) 0 0 no-repeat;
  background-position: 98% center;

  background-color: #F4C430;
  /* for IE */
  filter:alpha(opacity=80);
  /* CSS3 standard */
  opacity:0.80;
}

a.action_menu_end_interest{
  background:url(/images/other_icons/remove_interest_icon.png) 0 0 no-repeat; 
  background-position: 98% center;

}
a.action_menu_end_interest:hover{ 
  background:url(/images/other_icons/remove_interest_icon_brown.png) 0 0 no-repeat;
  background-position: 98% center;

  background-color: #F4C430;
  /* for IE */
  filter:alpha(opacity=80);
  /* CSS3 standard */
  opacity:0.80;
}

a.action_menu_new_job{
  background:url(/images/other_icons/jobs_icon_sm.png) 0 0 no-repeat; 
  background-position: 98% center;

}
a.action_menu_new_job:hover{ 
  background:url(/images/other_icons/jobs_icon_sm_brown.png) 0 0 no-repeat;
  background-position: 98% center;

  background-color: #F4C430;
  /* for IE */
  filter:alpha(opacity=80);
  /* CSS3 standard */
  opacity:0.80;
}

a.action_menu_send_message{
  background:url(/images/other_icons/send_message_icon_sm.png) 0 0 no-repeat; 
  background-position: 98% center;

}
a.action_menu_send_message:hover{ 
  background:url(/images/other_icons/send_message_icon_sm_brown.png) 0 0 no-repeat;
  background-position: 98% center;

  background-color: #F4C430;
  /* for IE */
  filter:alpha(opacity=80);
  /* CSS3 standard */
  opacity:0.80;
}


a.job-menu, a.job-menu-highlighted{ 
  display:block;
	color: #000000;
	text-decoration: h1;
  vertical-align: middle;
  line-height: 50px;
  font-size: 1.7em;
  padding-left: 10px;
}

a.job-menu:hover, a.job-menu-highlighted:hover{ 
  background-color: #F4C430;
	color: #4f391a;

}
a.job-menu-highlighted{
  background-color: #4f391a;
	color: #ffffff;
}

#content {
  width: 100%;
  padding-top: 25px;
  border: none;
  left: auto;
  right: auto;

}



#map_canvas{
  border: 1px solid #ffffff;
}

#disclaimer {
font-size: x-small;
color: #B1B1B1;

}

#splash {
 font-size: small;
 color: #696969;
 vertical-align: middle;
 height: 100%;

}


#system_message {
  border-left: 5px solid #F4C430;
  background-color: #FFFFFF;
  padding: 5px;
  line-height: 30px;
  margin-bottom: 10px;

  background-image:url('/images/stat_bg.jpg');
  background-repeat: repeat-y;
  background-position: top left;
}


#notice {
  border-left: 5px solid #F4C430;
  background-color: #FFFFFF;
  padding: 5px;
  line-height: 30px;
  margin-bottom: 10px;

  background-image:url('/images/stat_bg.jpg');
  background-repeat: repeat-y;
  background-position: top left;

}

#error {
  border-left: 5px solid #CF4326;
  background-color: #FFFFFF;
  padding: 5px;
  line-height: 30px;
  margin-bottom: 10px;

  background-image:url('/images/stat_bg.jpg');
  background-repeat: repeat-y;
  background-position: top left;
}

#disclaimer {
font-size: x-small;
color: #B1B1B1;
background-color: #ffffff;
}

#splash {
 font-size: small;
 color: #696969;
 vertical-align: middle;
 height: 100%;

}



#login-splash {
  border: 5px solid #4f391a;
  padding: 10px;
  width: 100%;

}




/*** SNIPPETS ************************************/

/*** idea */

#snippet-inactive, #snippet-watching, #snippet, #job-filled {
  border-bottom: 1px solid #A0C943;
  margin: 0px;
  width: 100%;
  background-color: #ffffff;
}

#snippet-inactive{
  /* for IE */
  filter:alpha(opacity=40);
  /* CSS3 standard */
  opacity:0.40;
  
  border: 1px solid #CF4326;
 
}

#job-filled{
  /* for IE */
  filter:alpha(opacity=60);
  /* CSS3 standard */
  opacity:0.60;
  margin-left: 50px;
  border: 1px solid #B1B1B1;
   
}

#snippet-stat, #snippet-stat-align-right {
  position:relative;
  float: left;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 110px;
  line-height: 26px;
  vertical-align: middle;
  background-color: none;
}

#snippet-stat-align-right {
  text-align: right;
}

#snippet-body {
  position:relative;
  float: left;
  padding: 10px;
  width: 100%;
}

TD.snippet-body{
  background-image:url('/images/snippet_bg.jpg');
  background-repeat: repeat-y;
  background-position: top right;
  border-left: 1px dotted #B1B1B1;

}

TD.snippet-stat{
  background-image:url('/images/stat_bg.jpg');
  background-repeat: repeat-y;
  background-position: top left;
}


/*** SHARED ************************************************************/


#show-container{
  position:relative;
  float: left;
  width: 100%;
}

#show-main-container{
  position: relative;
  float: left;
  
  width: 626px;
  background-image:url('/images/snippet_bg.jpg');
  background-repeat: repeat-y;
  background-position: top right;

  padding-left: 10px;

}

#show-action-menu {
  position: relative;
  float: left;
  width: 125px;

  padding: 0px;
  background-image:url('/images/stat_bg.jpg');
  background-repeat: repeat-y;
  background-position: top left;
  
  font-size: menu;
}


#show-stat {
  position:relative;
  float: left;
  
  margin-left: 10px;
  padding: 10px;
  padding-top: 0px;
  width: 110px;
  clear:right;
  line-height: 30px;
  vertical-align: middle;

  background-image:url('/images/stat_bg.jpg');
  background-repeat: repeat-y;
  background-position: top left;

}


#comment {
  padding-left: 25px;
  padding-right: 10px;

}



/********************************** */


#project_member{
  position: relative;
  float: left;
  clear: right;
  margin: none;
  padding: none;
  border: none;
  width:100%;
  background-color: #ffffff;

}

#snippet_header{
  background-color: #A0C943;

}
#snippet_header h3{
  color: #4f391a;  
}


#section_header{
  background-color: #4f391a;
  clear: right;
}

#section_header a{
  color: #ffffff;
}

#white-divider{
  background-color: #FFFFFF;
  height: 10px;
}

#ideasnippet, #ideasnippet-inactive, #watchlist_ideasnippet, #projectsnippet, #watchlist_projectsnippet, #jobsnippet, #profilesnippet, #profilesnippet-inactive, #watchlist_profilesnippet, #projectsnippet-inactive, #invitationsnippet, #invitationsnippet-inactive, #application, #project_roles, #resend_activation, #watchlist_jobsnippet, #jobsnippet-inactive {
  background-color: #FFFFFF;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  width: 626px;
  background-image:url('/images/snippet_bg.jpg');
  background-repeat: repeat-y;
  background-position: top right;
  border-bottom: 1px solid #A0C943;
  border-left: 1px dotted #B1B1B1;
}



#invitationsnippet, #invitationsnippet-inactive {
  width: 600px;
}
#projectsnippet-inactive, #ideasnippet-inactive, #invitationsnippet-inactive, #jobsnippet-inactive, #profilesnippet-inactive {
  border: 5px solid #C0C0C0;
  background-color: #F0F0F0;
}

#watchlist_ideasnippet, #watchlist_projectsnippet, #watchlist_jobsnippet,#watchlist_profilesnippet {
  border: 5px solid #FFD700;
  background-color: #FFFFFF;
}



#application, #project_roles {
  width: 800px;
  border: 5px solid #a0a0a0;
}

#reCAPTCHA {
 color: #C0C0C0;
 font-size: x-small;

}

h1 {
 color: #4f391a;
 font-family: "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
 letter-spacing: 0.5px;
 margin: 0px;
 line-height: 50px;

}

h2 {
 color: #A0C943;
 font-family: "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
 letter-spacing:0.5px;
 margin: 0px;
 line-height: 40px;

}
h3 {

 color: #F4C430;
 font-family: "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
 letter-spacing: 1px;
 margin: 0px;

}

b {
  color: #4f391a;
  font-size: medium;
}

hr {
border-top: 1px dashed #C0C0C0;
border-bottom: 0px;
border-left: 0px;
border-right: 0px;
margin-top: 5px;

}
input[type="text"], input[type="password"], input[type="checkbox"], textarea {

  border: 1px solid #A0C943;
  background-color: #ffffff;
  font-color: #4f391a;
  font-weight: bold;

}

input[type="text"]:focus, input[type="password"]:focus, input[type="checkbox"]:focus, textarea:focus {
  background-color: #4F391A;
  color: #A0C943;

}

input.big_button {
   height: 50px;
   width: 150px;

}

#ideadashboard, #projectdashboard, #jobdashboard, #profiledashboard, #special_message {
  padding: 5px;
  margin: 10px 0;
  width: 200px;
}


#newcomment {
  width: 400px;
}

#dashboard-container{
  width: 80%;
  margin: 0px;
  padding: 0px;

}
#dashboard-my, #dashboard-watchlist{
  width: 98%;
  margin-bottom: 5px;
  background-color: #E8E8E8;
 
}

#recent-activity {
  background-image: url(/images/background.jpg);
  background-repeat: repeat-y;
  padding: 10px;

}

