
html, body{
  background-color: #fff;
  margin: 0;
  padding: 0;
  border: none;
  font-family: Helvetica, Arial, sans-serif;
  vertical-align: top;

}
#site-container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
}


/*    BANNER AND TOP MENU STUFF */
/* note that the green background color is actually a background color */

#banner-background {
  position: fixed;
  z-index:1;
  height: 155px;
  left: 0px;
  top: 0px;
  border: none;
  width: 10000px;
  overflow:hidden;
  background-color: #A0C943;
}

#banner {
  position: relative;
  z-index:2;
	width: 100%

  height: 155px;
  border: none;  

 }


#banner-menu-category, #banner-menu-category-right-border {
  position:relative;
  float: left;
  padding-top: 15px;
  margin-left: 10px;

  min-width: 140px;
  width: 100%;
  height: 140px;
  
  border-left: 3px solid #FFFFFF;
  letter-spacing:0.5px;
  color: #FFFFFF;


}

#banner-menu-category-right-border{
  border-right: 3px solid #FFFFFF;
}
#banner-logo {
  padding-top: 15px;
  margin-right: 50px;
  text-align: right;
  float:left;
  height: 140px;

}

#banner-search {
  position:relative;
  height: 140px;

  padding-top: 15px;
  padding-left: 10px;
  margin-left: 10px;

  float: right;
  overflow: hidden;
  clear:right;

  letter-spacing:0.5px;
  color: #FFFFFF;
  min-width: 250px;

  text-align: right;
}


p.banner {
  margin: 7px;
}
a.banner { 
  display:block;
	color: #FFFFFF;
	text-decoration: none;
  padding: 5px;
  padding-left: 15px;

}

a.banner:hover { 
  background-color: #4f391a;

}


a.banner-no-block { 
	color: #FFFFFF;
	text-decoration: none;
}

a.banner-no-block:hover { 
  color: #4f391a;
}


/* END OF BANNER */


#content {
}


#disclaimer {
font-size: x-small;
color: #B1B1B1;

}

#splash {
 font-size: small;
 color: #696969;
 vertical-align: middle;
 height: 100%;

}


#notice {
  border: 5px solid #F4C430;
  background-color: #FFFFFF;
  padding: 5px;
  margin: 10px 0;
}

#error {
  border: 5px solid #CF4326;
  background-color: #FFFFFF;
  padding: 5px;
  margin: 10px 0;
}



#ideasnippet, #ideasnippet-inactive, #watchlist_ideasnippet, #comment, #projectsnippet, #watchlist_projectsnippet, #jobsnippet, #profilesnippet, #profilesnippet-inactive, #watchlist_profilesnippet, #projectsnippet-inactive, #invitationsnippet, #invitationsnippet-inactive, #map_canvas, #application, #project_roles, #resend_activation, #watchlist_jobsnippet, #jobsnippet-inactive {
  background-color: #FFFFFF;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  width: 626px;
  background-image:url('/images/snippet_bg.jpg');
  background-repeat: repeat-y;
  background-position: top right;
  border-bottom: 1px solid #A0C943;
  border-left: 1px dotted #B1B1B1;
}

#snippet-stat {
  background-color: #FFFFFF;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  width: 100px;
  background-image:url('/images/snippet_stat_bg.jpg');
  background-repeat: repeat-y;
  background-position: top left;
  border-bottom: 1px solid #A0C943;}


#invitationsnippet, #invitationsnippet-inactive {
  width: 600px;
}
#projectsnippet-inactive, #ideasnippet-inactive, #invitationsnippet-inactive, #jobsnippet-inactive, #profilesnippet-inactive {
  border: 5px solid #C0C0C0;
  background-color: #F0F0F0;
}

#watchlist_ideasnippet, #watchlist_projectsnippet, #watchlist_jobsnippet,#watchlist_profilesnippet {
  border: 5px solid #FFD700;
  background-color: #FFFFFF;
}


#menu {
  border: 5px solid #d0d0d0;
  background-color: #FFFFFF;
  padding: 5px;
  margin: 10px 0;
}
#menu2 {
  border: 5px solid #a0a0a0;
  background-color: #FFFFFF;
  padding: 5px;
  margin: 10px 0;
}

#application, #project_roles {
  width: 800px;
  border: 5px solid #a0a0a0;
}

#reCAPTCHA {
 color: #C0C0C0;
 font-size: x-small;

}

h1 {
 color: #4f391a;
 font-family: "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
 letter-spacing: 0.5px;
 margin: 0px;

}

h2 {
 color: #A0C943;
 font-family: "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
 letter-spacing:0.5px;
 margin: 0px;

}
h3 {
 color: #F4C430;
 font-family: "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
 letter-spacing: 1px;
 margin: 0px;

}

b {
  color: #4f391a;
  font-size: medium;
}

hr {
  color: #A0C943;
  background-color: #A0C943;
  height: 5px;
  border: 0px

}
input[type="text"], input[type="password"], input[type="checkbox"], textarea {

  border: 1px solid #A0C943;
  border-color: #A0C943;
  
  color: #4f391a;
  font-size: medium;
  font-weight: bold;

}
input.big_button {
   height: 50px;
   width: 150px;

}

input[type="text"]:focus, input[type="password"]:focus, input[type="checkbox"]:focus, textarea:focus {
  background-color: #4F391A;
  color: #A0C943;
}

#newcomment, #ideadashboard, #projectdashboard, #jobdashboard, #profiledashboard, #special_message {
  border: 5px solid #FFD700;
  background-color: #FFFFFF;
  padding: 5px;
  margin: 10px 0;
  width: 200px;
}


#newcomment {
  width: 400px;
}
#dashboard {
  background-color: #FFFFFF;
  margin: 3px;
  padding: 3px;
  border-style:solid;
  border-color: #D3D3D3;
  font-family: Helvetica, Arial, sans-serif;
  font-size: small;
  vertical-align: top;

}
#recent-activity {
  background-image: url(/images/background.jpg);
  background-repeat: repeat-y;
  padding: 10px;

}

