
html, body{
  background-color: #fff;
  margin: 0;
  padding: 0;
  border: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: small;
  vertical-align: top;

	background-image:url('/images/green-banner.jpg');

  background-repeat:repeat-x;

}
#site-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    width: 90%;
    max-width: 1250px;
    min-width: 1000px;

}


/*    BANNER AND TOP MENU STUFF */
/* note that the green background color is actually a background color */


#banner {
  position: relative;
	width: 100%;
  padding-top: 15px;

  height: 148px;
  border: none;  

  font: menu;  

 }


#banner-menu-ideas, #banner-menu-projects, #banner-menu-jobs, #banner-menu-people {
  position:relative;
  float: left;

  width: 100%;
  height: 100%;
  
  border-left: 5px solid #FFFFFF;
  letter-spacing:0px;
  color: #FFFFFF;
  

}

#menu-filler {
    background-color: #A0C943;
}
#banner-menu-ideas {
  background: #4f391a; 
  background:url(/images/menu_icons/ideas_icon_lg.png) center center no-repeat; 
}
#banner-menu-projects {
  background: #4f391a; 
  background:url(/images/menu_icons/projects_icon_lg.png) center center no-repeat; 
}
#banner-menu-jobs {
  background: #4f391a; 
  background:url(/images/menu_icons/jobs_icon_lg.png) center center no-repeat; 
}

#banner-menu-people {
  border-right: 5px solid #FFFFFF;
  background: #4f391a; 
  background:url(/images/menu_icons/people_icon_lg.png) center center no-repeat; 
}

#banner-logo {
  padding-top: 15px;
  text-align: right;
  float:left;
  height: 100%;
  padding-right: 15px;

}

#banner-search {
  position:relative;
  height: 100%;
  width: 100%;

  padding-top: 15px;
  padding-left: 15px;

  float: right;
  overflow: hidden;
  clear:right;

  letter-spacing:0.5px;
  color: #FFFFFF;

  text-align: right;

}


p.banner {
  margin: 7px;
}
a.menu-ideas, a.menu-projects, a.menu-jobs, a.menu-people, a.menu-new, a.menu-my, a.menu-watchlist, a.menu-invite, #menu-filler { 
  display:block;
	color: #FFFFFF;
	text-decoration: none;
  vertical-align: middle;
  padding-top: 7px;
  padding-left: 45px;
  height: 30px;

  /* for IE */
  filter:alpha(opacity=90);
  /* CSS3 standard */
  opacity:0.90;

}


a.banner:hover, a.menu-new:hover, a.menu-my:hover, a.menu-watchlist:hover, a.menu-invite:hover { 
  font-weight: bold;
  background-color: #4f391a;
  letter-spacing:0.0px;

  /* for IE */
  filter:alpha(opacity=80);
  /* CSS3 standard */
  opacity:0.80;


}

a.menu-ideas {
  background:url(/images/menu_icons/ideas_menu_icon_brown.png) 0 0 no-repeat; 
  background-position: 10px center;
  background-color: #A0C943;

}
a.menu-ideas:hover {
  background:url(/images/menu_icons/ideas_menu_icon_green.png) 0 0 no-repeat; 
  background-color: #4f391a;
  background-position: 10px center;
  font-color: #FFFFFF;
  font-weight: bold;

  /* for IE */
  filter:alpha(opacity=80);
  /* CSS3 standard */
  opacity:0.80;

}

a.menu-projects {
  background:url(/images/menu_icons/projects_menu_icon_brown.png) 0 0 no-repeat; 
  background-position: 11px center;
  background-color: #A0C943;

}
a.menu-projects:hover {
  background:url(/images/menu_icons/projects_menu_icon_green.png) 0 0 no-repeat; 
  background-color: #4f391a;
  background-position: 11px center;
  font-color: #FFFFFF;
  font-weight: bold;

  /* for IE */
  filter:alpha(opacity=80);
  /* CSS3 standard */
  opacity:0.80;

}


a.menu-jobs {
  background:url(/images/menu_icons/jobs_menu_icon_brown.png) 0 0 no-repeat; 
  background-position: 14px center;
  background-color: #A0C943;

}
a.menu-jobs:hover {
  background:url(/images/menu_icons/jobs_menu_icon_green.png) 0 0 no-repeat; 
  background-color: #4f391a;
  background-position: 14px center;
  font-color: #FFFFFF;
  font-weight: bold;

  /* for IE */
  filter:alpha(opacity=80);
  /* CSS3 standard */
  opacity:0.80;
}


a.menu-people {
  background:url(/images/menu_icons/people_menu_icon_brown.png) 0 0 no-repeat; 
  background-position: 16px center;
  background-color: #A0C943;

}
a.menu-people:hover {
  background:url(/images/menu_icons/people_menu_icon_green.png) 0 0 no-repeat; 
  background-color: #4f391a;
  background-position: 16px center;
  font-color: #FFFFFF;
  font-weight: bold;

  /* for IE */
  filter:alpha(opacity=80);
  /* CSS3 standard */
  opacity:0.80;
}

a.menu-new {
  background:url(/images/submenu_icons/new_submenu_icon.png) 0 0 no-repeat; 
  background-position: 16px center;
  background-color: #A0C943;

}
a.menu-my {
  background:url(/images/submenu_icons/my_submenu_icon.png) 0 0 no-repeat; 
  background-position: 16px center;
  background-color: #A0C943;

}
a.menu-watchlist {
  background:url(/images/submenu_icons/watchlist_submenu_icon.png) 0 0 no-repeat; 
  background-position: 11px center;
  background-color: #A0C943;

}


a.banner-no-block { 
	color: #FFFFFF;
	text-decoration: none;
}

a.banner-no-block:hover { 
  color: #4f391a;
}


/* END OF BANNER */


#content {
  width: 100%;
  padding-top: 25px;

}


#disclaimer {
font-size: x-small;
color: #B1B1B1;

}

#splash {
 font-size: small;
 color: #696969;
 vertical-align: middle;
 height: 100%;

}


#notice {
  border: 5px solid #F4C430;
  background-color: #FFFFFF;
  padding: 5px;
  margin: 10px 0;
}

#error {
  border: 5px solid #CF4326;
  background-color: #FFFFFF;
  padding: 5px;
  margin: 10px 0;
}


#login-splash {

  border: 5px solid #4f391a;
  padding: 10px;
  width: 900px;


}





#ideasnippet, #ideasnippet-inactive, #watchlist_ideasnippet, #comment, #projectsnippet, #watchlist_projectsnippet, #jobsnippet, #profilesnippet, #profilesnippet-inactive, #watchlist_profilesnippet, #projectsnippet-inactive, #invitationsnippet, #invitationsnippet-inactive, #map_canvas, #application, #project_roles, #resend_activation, #watchlist_jobsnippet, #jobsnippet-inactive {
  background-color: #FFFFFF;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  width: 626px;
  background-image:url('/images/snippet_bg.jpg');
  background-repeat: repeat-y;
  background-position: top right;
  border-bottom: 1px solid #A0C943;
  border-left: 1px dotted #B1B1B1;
}

#snippet-stat {
  background-color: #FFFFFF;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  width: 100px;
  background-image:url('/images/snippet_stat_bg.jpg');
  background-repeat: repeat-y;
  background-position: top left;
  border-bottom: 1px solid #A0C943;}


#invitationsnippet, #invitationsnippet-inactive {
  width: 600px;
}
#projectsnippet-inactive, #ideasnippet-inactive, #invitationsnippet-inactive, #jobsnippet-inactive, #profilesnippet-inactive {
  border: 5px solid #C0C0C0;
  background-color: #F0F0F0;
}

#watchlist_ideasnippet, #watchlist_projectsnippet, #watchlist_jobsnippet,#watchlist_profilesnippet {
  border: 5px solid #FFD700;
  background-color: #FFFFFF;
}


#menu {
  border: 5px solid #d0d0d0;
  background-color: #FFFFFF;
  padding: 5px;
  margin: 10px 0;
}
#menu2 {
  border: 5px solid #a0a0a0;
  background-color: #FFFFFF;
  padding: 5px;
  margin: 10px 0;
}

#application, #project_roles {
  width: 800px;
  border: 5px solid #a0a0a0;
}

#reCAPTCHA {
 color: #C0C0C0;
 font-size: x-small;

}

h1 {
 color: #4f391a;
 font-family: "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
 letter-spacing: 0.5px;
 margin: 0px;

}

h2 {
 color: #A0C943;
 font-family: "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
 letter-spacing:0.5px;
 margin: 0px;

}
h3 {
 color: #F4C430;
 font-family: "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
 letter-spacing: 1px;
 margin: 0px;

}

b {
  color: #4f391a;
  font-size: medium;
}

hr {
  color: #A0C943;
  background-color: #A0C943;
  height: 5px;
  border: 0px

}
input[type="text"], input[type="password"], input[type="checkbox"], textarea {

  border: 1px solid #A0C943;
  border-color: #A0C943;
  
  color: #4f391a;
  font-size: medium;
  font-weight: bold;

}
input.big_button {
   height: 50px;
   width: 150px;

}

input[type="text"]:focus, input[type="password"]:focus, input[type="checkbox"]:focus, textarea:focus {
  background-color: #4F391A;
  color: #A0C943;
}

#newcomment, #ideadashboard, #projectdashboard, #jobdashboard, #profiledashboard, #special_message {
  border: 5px solid #FFD700;
  background-color: #FFFFFF;
  padding: 5px;
  margin: 10px 0;
  width: 200px;
}


#newcomment {
  width: 400px;
}
#dashboard {
  background-color: #FFFFFF;
  margin: 3px;
  padding: 3px;
  border-style:solid;
  border-color: #D3D3D3;
  font-family: Helvetica, Arial, sans-serif;
  font-size: small;
  vertical-align: top;

}
#recent-activity {
  background-image: url(/images/background.jpg);
  background-repeat: repeat-y;
  padding: 10px;

}

