      <div id="menu2">
        <table border="0" cellspacing="0" cellpadding="10"><tr>
          <td width="100"><h3><%= link_to "Profiles Home", users_path %></h3></td>
          <td width="100"><h3><%= link_to "My Profile", edit_user_path(current_user) %></h3></td>
          <td width="100"><h3>Browse</h3></td>

          <td><% form_tag users_path, :method => :get do %>
              <%= text_field_tag :search, params[:search] %> </td>
              
          <td><%= submit_tag "Search Profiles", :name => nil %></td>
          <% end %>

        </tr></table>
       </div>
