
<table border="0" cellspacing="10">
  <tr>
    <td valign="top">
      <% i = 0 %>
      <% k = ($ALL_INDUSTRIES.size.to_f / 3).round %>
      <% $ALL_INDUSTRIES.each do |industry| %>
        <% if i % k == 0 %>
          </td><td valign="top">
        <% end %>

        <%= check_box_tag "industry_ids[#{industry.id}]", {}, industry_ids.include?(industry.id) %>
        <%= label_tag industry.name %><br />
           
        <% i += 1 %>
      <% end %>
    </td>
  </tr>
</table>      

