
<div id="reCAPTCHA">
        <p>
      <table border="0" cellspacing="0" cellpadding="0" width="450" id="reCAPTCHA_table"><tr><td>
      <p><font color="c0c0c0">Commune2 uses <a href="http://recaptcha.net/" target="_blank">reCAPTCHA</a> to make sure you are human, and not a robot trying to hack our community.  reCAPTCHA helps digitize books, newspapers, and old time radio shows by sending words that cannot be read by computers to the Web for humans to decipher.</p>

      <p>You must decipher both words below before you can proceed.</p>

      </td></tr></table>
         <%= recaptcha_tags(:display => {:theme => 'clean'}) %>
      </p>
</div>
