      <div id="menu2">
        <table border="0" cellspacing="0" cellpadding="10"><tr>
          <td width="100"><h3><%= link_to "Invite", new_invitation_path %></h3></td>
          <td width="100"><h3><%= link_to "Past Invitations", invitations_path %></h3></td>
          
          <td><% form_tag invitations_path, :method => 'get' do %>
              <%= text_field_tag :search, params[:search] %> </td>
              
          <td><%= submit_tag "Search Invitations", :name => nil %></td>
          <% end %>
          
          </td>

        </tr></table>
       </div>
