
# recaptcha
Recaptcha_public  = "PUBLUC KEY"
Recaptcha_private = "PRIVATE KEY"
ENV['RECAPTCHA_PUBLIC_KEY'] = Recaptcha_public
ENV['RECAPTCHA_PRIVATE_KEY'] = Recaptcha_private

# google maps
GoogleAPIKey = "GOOGLE API KEY"

# config
Session_key = 'SESSION KEY'
Session_secret = 'SESSION SECRET'


# email..
Production_mail_config = {
  # production config
 }

Test_mail_config = {
# test config
}
