<h1>COMMUNE2</h2>

<div id="section_header"><h2>&nbsp;ABOUT</h2></div>

<p>We believe that anyone with an idea should have the opportunity to let it grow, see where it can take them, and succeed.  People with ideas should not be hindered by lack of contacts or resources.  We all have something to contribute, to take, to give, to be a part of something; an idea... that grows and develops.  We all have a skill to contribute, we all have something to contribute, and in the end our contributions can produce real results, and change the way business is done.  Don't let your ideas or skills squander idly away.</p>

<p>Commune2 is for sharing thoughts and for social networking through collaboration.  It is a platform for people to learn from each other, turn ideas into projects, and turn projects into tangible accomplishments.  We measure our success by the number of good ideas, successful projects, and working relationships created by our members.  We encourage you to open up, think positive, and contribute something to the community.  Do not let ideas die.  Instead, turn them into reality, or let others do it.</p>

<ul>
  <li>Think open, think often, and share thoughts.</li>
  <li>Help and be helped.</li>
  <li>Do not be paranoid (if it is your idea, you can do it better).</li>
  <li>If you want to do something, do something.</li>
</ul>


<div id="section_header"><h2>&nbsp;FAQ</h1></div>

<div id="snippet_header"><h3>&nbsp;General</h3></div>

<p><b>What about my intellectual property?  Will people steal my ideas and get rich off of them?</b></p>
<p>Commune2 claims no right on your intellectual property or on any of your future profits.  If you are concerned about these issues, we suggest you contract an lawyer and protect yourself legally.  We are an open community, so everything you post here is considered public.  Keep in mind one thing: how good is your idea if no one ever hears about it, or if you cannot execute it alone?</p>

<p><b>Okay, all this “here to help out fellow Commune2 members” is all feel good and everything, but does it really work?</b></p>

<p>Try it.  Have you ever had an idea or something you thought would be really great, but didn’t have all the skills to bring it to fruition?  At Commune2, you can find help - or help others, and be a part of something great.</p>


<p><b>What is the difference between watching and showing interest?</b></p>
<p>If you show interest other people will see you have shown interest (there will be a link to your profile from the idea / project). Watching is anonymous.</p>

<p><b>I posted something a few months ago and now want to delete it.  Can I?</b></p>
<p>No.  But, you can edit the post and change the status to inactive.  Only you will be able to see the inactive post.</p>


<div id="snippet_header"><h3>&nbsp;Ideas and Projects</h3></div>

<p><b>What the heck is the difference between an "idea" and a "project?"</b></p>
<p>Think of an ideas as an interesting thought that is relatively general.  Think of a project as something somewhat specific that you or someone else is actively working on, to turn an idea into reality.  EXAMPLE: "We need some alternative to mass-produced bland beer" (idea); "A microbrewery in Brooklyn" (project).</p>

<p><b>I have a great project that I want to get started.  Do you recommend I post it as an idea first and then launch the project from there?</b></p>

<p>Yes!  If you post it as an idea first you allow people to spawn other projects from it.  This way you will get to see what other great projects come out of your idea.</p>

<p><b>I saw an idea/project that I really like, how do I contact the poster to let them know I want to get involved?</b></p>
<p>Go to the user’s profile and send them a message or click on “show interest” in the left column of the idea/project.  And, of course, you can always simply leave a comment.</p>

<p><b>I would like to get involved, but there isn’t a job or project that seems need my skills.  Is there a way I can post my skills and say that I am available to help?</b></p>

<p>You could update your profile so that it is very specific to what you are looking for and when someone does a related search, your profile will come up.  Alternatively, you can post your own idea or project.</p>



<p><b>I saw someone else’s project and would like to post a different project from it.  Can I post a new project based on someone else’s project?</b></p>
<p>You can only spawn a project from ideas (check if that project has an idea link).</p>


<div id="snippet_header"><h3>&nbsp;Jobs</h3></div>

<p><b>I have a great idea/project and need help to get it started, but I can’t afford to pay someone.  Can I still post jobs for my project?</b></p>
<p>Yes!</p>

<p><b>I recently started learning a new skill, but am still in the “learning stage”.  I would like to develop this skill and work on a project that allows me to “learn on the job.”  Can I do this?</b></p>
<p>This is between you and the project manager.  However, we highly encourage such activity!</p>

<p><b>I am only interested in jobs that can pay me.  Is there any way I can view only those jobs that are for pay or equity?</b></p>

<p>You will need to look at the job before knowing how or if it is paid.  We see this as a positive.  Maybe, you will find a really great job that you will WANT to work on regardless of compensation.</p>

<p><b>I have several open positions that are exactly the same.  Is there any way I can indicate from one job posting that this is for several openings or do I need to have separate posts for each job?</b></p>

<p>You need to have separate posts for each job, sorry.</p>



<div id="snippet_header"><h3>&nbsp;Invitations</h3></div>

<p><b>I have a bunch of friends who want to join, but I can only send out two invitations a day.  Why can’t I just invite all my friends that want to join at once?</b></p>
  
<p>We are still a work in progress and don’t want to overload the internets. Rest assured, you will be able to invite all your friends eventually.</p>

<p><b>I would like to know when people I invite join, is there any way to receive an update when this happens?</b></p>

<p>Not yet.  However, if you click on “invite,” you will see a link to view your past invitations and their status.</p>
